@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
*{
    margin:0px
}

body{
    margin: 0px;
    padding: 0px;
}

header{
    padding: 40px;
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-family: "Passion One", sans-serif;
    font-size: 10vw;
    font-variant: small-caps;
    margin: 0;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}

section{
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

p{
    font-family: "Sriracha", sans-serif;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
}

p.destaque{
    background-color: rgba(0, 0, 0, 0.411);
    display: inline-block;
    color: white;
}

section.destaque{
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px 0px black;
    
}

.img01{
    background-image: url(../imagens/background001.jpg);
    background-position: center right;
}

.img02{
    background-image: url(../imagens/background002.jpg);
    background-position: center center;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}